[data-theme="dark"] {
  --B100: #082145;
  --B200: #09326C;
  --B300: #0055CC;
  --B400: #0C66E4;
  --B500: #1D7AFC;
  --B600: #388BFF;
  --B700: #579DFF;
  --B800: #85B8FF;
  --B900: #CCE0FF;
  --B1000: #E9F2FF;

  --G100: #133527;
  --G200: #164B35;
  --G300: #216E4E;
  --G400: #1F845A;
  --G500: #22A06B;
  --G600: #2ABB7F;
  --G700: #4BCE97;
  --G800: #7EE2B8;
  --G900: #BAF3DB;
  --G1000: #DFFCF0;

  --M100: #341829;
  --M200: #50253F;
  --M300: #943D73;
  --M400: #AE4787;
  --M500: #CD519D;
  --M600: #DA62AC;
  --M700: #E774BB;
  --M800: #F797D2;
  --M900: #FDD0EC;
  --M1000: #FFECF8;

  --N0: #161A1D;
  --N100: #1D2125;
  --N100A: #BCD6F00A;
  --N200: #22272B;
  --N200A: #A1BDD914;
  --N300: #2C333A;
  --N300A: #A6C5E229;
  --N400: #454F59;
  --N400A: #BFDBF847;
  --N500: #596773;
  --N500A: #9BB4CA80;
  --N600: #738496;
  --N700: #8696A7;
  --N800: #9FADBC;
  --N900: #B6C2CF;
  --N1000: #C7D1DB;
  --N1100: #DEE4EA;

  --O100: #43290F;
  --O200: #5F3811;
  --O300: #974F0C;
  --O400: #B65C02;
  --O500: #D97008;
  --O600: #F18D13;
  --O700: #FAA53D;
  --O800: #FEC57B;
  --O900: #FFE2BD;
  --O1000: #FFF4E5;

  --P100: #231C3F;
  --P200: #352C63;
  --P300: #5E4DB2;
  --P400: #6E5DC6;
  --P500: #8270DB;
  --P600: #8F7EE7;
  --P700: #9F8FEF;
  --P800: #B8ACF6;
  --P900: #DFD8FD;
  --P1000: #F3F0FF;

  --R100: #391813;
  --R200: #601E16;
  --R300: #AE2A19;
  --R400: #CA3521;
  --R500: #E34935;
  --R600: #EF5C48;
  --R700: #F87462;
  --R800: #FF9C8F;
  --R900: #FFD2CC;
  --R1000: #FFEDEB;

  --T100: #153337;
  --T200: #1D474C;
  --T300: #206B74;
  --T400: #1D7F8C;
  --T500: #1D9AAA;
  --T600: #37B4C3;
  --T700: #60C6D2;
  --T800: #8BDBE5;
  --T900: #C1F0F5;
  --T1000: #E3FAFC;

  --Y100: #3D2E00;
  --Y200: #533F04;
  --Y300: #7F5F01;
  --Y400: #946F00;
  --Y500: #B38600;
  --Y600: #CF9F02;
  --Y700: #E2B203;
  --Y800: #F5CD47;
  --Y900: #F8E6A0;
  --Y1000: #FFF7D6;

  --shadow-overlay: 0px 0px 0px rgba(188, 214, 240, 0.04), 0px 8px 12px rgba(3, 4, 4, 0.36), 0px 0px 1px rgba(3, 4, 4, 0.5);
  --shadow: 0px 0px 12px rgba(3, 4, 4, 0.56), 0px 0px 1px rgba(3, 4, 4, 0.5);
}
