[data-theme="light"] {
  --B100: #E9F2FF;
  --B200: #CCE0FF;
  --B300: #85B8FF;
  --B400: #579DFF;
  --B500: #388BFF;
  --B600: #1D7AFC;
  --B700: #0C66E4;
  --B800: #0055CC;
  --B900: #09326C;
  --B1000: #082145;

  --G100: #DFFCF0;
  --G200: #BAF3DB;
  --G300: #7EE2B8;
  --G400: #4BCE97;
  --G500: #2ABB7F;
  --G600: #22A06B;
  --G700: #1F845A;
  --G800: #216E4E;
  --G900: #164B35;
  --G1000: #133527;

  --M100: #FFECF8;
  --M200: #FDD0EC;
  --M300: #F797D2;
  --M400: #E774BB;
  --M500: #DA62AC;
  --M600: #CD519D;
  --M700: #AE4787;
  --M800: #943D73;
  --M900: #50253F;
  --M1000: #341829;

  --N0: #FFFFFF;
  --N100: #F7F8F9;
  --N100A: #091E4208;
  --N200: #F1F2F4;
  --N200A: #091E420F;
  --N300: #DCDFE4;
  --N300A: #091E4224;
  --N400: #B3B9C4;
  --N400A: #091E424F;
  --N500: #8590A2;
  --N500A: #091E427D;
  --N600: #758195;
  --N700: #626F86;
  --N800: #44546F;
  --N900: #2C3E5D;
  --N1000: #172B4D;
  --N1100: #091E42;

  --O100: #FFF4E5;
  --O200: #FFE2BD;
  --O300: #FEC57B;
  --O400: #FAA53D;
  --O500: #F18D13;
  --O600: #D97008;
  --O700: #B65C02;
  --O800: #974F0C;
  --O900: #5F3811;
  --O1000: #43290F;

  --P100: #F3F0FF;
  --P200: #DFD8FD;
  --P300: #B8ACF6;
  --P400: #9F8FEF;
  --P500: #8F7EE7;
  --P600: #8270DB;
  --P700: #6E5DC6;
  --P800: #5E4DB2;
  --P900: #352C63;
  --P1000: #231C3F;

  --R100: #FFEDEB;
  --R200: #FFD2CC;
  --R300: #FF9C8F;
  --R400: #F87462;
  --R500: #EF5C48;
  --R600: #E34935;
  --R700: #CA3521;
  --R800: #AE2A19;
  --R900: #601E16;
  --R1000: #391813;

  --T100: #E3FAFC;
  --T200: #C1F0F5;
  --T300: #8BDBE5;
  --T400: #60C6D2;
  --T500: #37B4C3;
  --T600: #1D9AAA;
  --T700: #1D7F8C;
  --T800: #206B74;
  --T900: #1D474C;
  --T1000: #153337;

  --Y100: #FFF7D6;
  --Y200: #F8E6A0;
  --Y300: #F5CD47;
  --Y400: #E2B203;
  --Y500: #CF9F02;
  --Y600: #B38600;
  --Y700: #946F00;
  --Y800: #7F5F01;
  --Y900: #533F04;
  --Y1000: #3D2E00;

  --shadow-overlay: 0px 8px 12px rgba(9, 30, 66, 0.15), 0px 0px 1px rgba(9, 30, 66, 0.31);
  --shadow: 0px 0px 8px rgba(9, 30, 66, 0.16), 0px 0px 1px rgba(9, 30, 66, 0.12);
}
