.container {
  max-width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

.container-extended {
  width: 1640px;
}

.container-wide {
  width: 1440px;
}

.container-medium {
  width: 1216px;
}

.container-narrow {
  width: 900px;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -8px;
}

.col {
  max-width: 100%;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 8px;
  box-sizing: border-box;
}

.row-align-baseline {
  align-items: baseline;
}

.row-align-center {
  align-items: center;
}

.row-align-end {
  align-items: flex-end;
}

.row-align-start {
  align-items: flex-start;
}

.row-align-stretch {
  align-items: stretch;
}

.row-content-around {
  align-content: space-around;
}

.row-content-between {
  align-content: space-between;
}

.row-content-center {
  align-content: center;
}

.row-content-end {
  align-content: flex-end;
}

.row-content-evenly {
  align-content: space-evenly;
}

.row-content-start {
  align-content: flex-start;
}

.row-direction-row {
  flex-direction: row;
}

.row-direction-row-reverse {
  flex-direction: row-reverse;
}

.row-direction-column {
  flex-direction: column;
}

.row-direction-column-reverse {
  flex-direction: column-reverse;
}

.row-gutter-xs {
  margin: -2px;
}

.row-gutter-xs>.col {
  padding: 2px;
}

.row-gutter-sm {
  margin: -4px;
}

.row-gutter-sm>.col {
  padding: 4px;
}

.row-gutter-md {
  margin: -8px;
}

.row-gutter-md>.col {
  padding: 8px;
}

.row-gutter-lg {
  margin: -12px;
}

.row-gutter-lg>.col {
  padding: 12px;
}

.row-gutter-xl {
  margin: -16px;
}

.row-gutter-xl>.col {
  padding: 16px;
}

.row-gutter-none {
  margin: -0px;
}

.row-gutter-none>.col {
  padding: 0px;
}

.row-justify-around {
  justify-content: space-around;
}

.row-justify-between {
  justify-content: space-between;
}

.row-justify-center {
  justify-content: center;
}

.row-justify-end {
  justify-content: flex-end;
}

.row-justify-evenly {
  justify-content: space-evenly;
}

.row-justify-start {
  justify-content: flex-start;
}

.row-wrap-nowrap {
  flex-wrap: nowrap;
}

.row-wrap-wrap {
  flex-wrap: wrap;
}

.row-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.col-1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.col-offset-1 {
  margin-left: 8.33333333%;
}

.col-2 {
  flex-basis: 16.66666666%;
  max-width: 16.66666666%;
}

.col-offset-2 {
  margin-left: 16.66666666%;
}

.col-3 {
  flex-basis: 24.99999999%;
  max-width: 24.99999999%;
}

.col-offset-3 {
  margin-left: 24.99999999%;
}

.col-4 {
  flex-basis: 33.33333332%;
  max-width: 33.33333332%;
}

.col-offset-4 {
  margin-left: 33.33333332%;
}

.col-5 {
  flex-basis: 41.66666665%;
  max-width: 41.66666665%;
}

.col-offset-5 {
  margin-left: 41.66666665%;
}

.col-6 {
  flex-basis: 49.99999998%;
  max-width: 49.99999998%;
}

.col-offset-6 {
  margin-left: 49.99999998%;
}

.col-7 {
  flex-basis: 58.33333331%;
  max-width: 58.33333331%;
}

.col-offset-7 {
  margin-left: 58.33333331%;
}

.col-8 {
  flex-basis: 66.66666664%;
  max-width: 66.66666664%;
}

.col-offset-8 {
  margin-left: 66.66666664%;
}

.col-9 {
  flex-basis: 74.99999997%;
  max-width: 74.99999997%;
}

.col-offset-9 {
  margin-left: 74.99999997%;
}

.col-10 {
  flex-basis: 83.3333333%;
  max-width: 83.3333333%;
}

.col-offset-10 {
  margin-left: 83.3333333%;
}

.col-11 {
  flex-basis: 91.66666663%;
  max-width: 91.66666663%;
}

.col-offset-11 {
  margin-left: 91.66666663%;
}

.col-12 {
  flex-basis: 99.99999996%;
  max-width: 99.99999996%;
}

.col-offset-12 {
  margin-left: 99.99999996%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-align-start {
  align-self: flex-start;
}

.col-align-center {
  align-self: center;
}

.col-align-end {
  align-self: flex-end;
}

.col-order-first {
  order: -1;
}

.col-order-last {
  order: 1;
}

@media screen and (max-width: 1440px) {
  .row-xl-align-baseline {
    align-items: baseline;
  }

  .row-xl-align-center {
    align-items: center;
  }

  .row-xl-align-end {
    align-items: flex-end;
  }

  .row-xl-align-start {
    align-items: flex-start;
  }

  .row-xl-align-stretch {
    align-items: stretch;
  }

  .row-xl-content-around {
    align-content: space-around;
  }

  .row-xl-content-between {
    align-content: space-between;
  }

  .row-xl-content-center {
    align-content: center;
  }

  .row-xl-content-end {
    align-content: flex-end;
  }

  .row-xl-content-evenly {
    align-content: space-evenly;
  }

  .row-xl-content-start {
    align-content: flex-start;
  }

  .row-xl-direction-row {
    flex-direction: row;
  }

  .row-xl-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .row-xl-direction-column {
    flex-direction: column;
  }

  .row-xl-direction-column-reverse {
    flex-direction: column-reverse;
  }

  .row-xl-gutter-xs {
    margin: -2px;
  }

  .row-xl-gutter-xs>.col {
    padding: 2px;
  }

  .row-xl-gutter-sm {
    margin: -4px;
  }

  .row-xl-gutter-sm>.col {
    padding: 4px;
  }

  .row-xl-gutter-md {
    margin: -8px;
  }

  .row-xl-gutter-md>.col {
    padding: 8px;
  }

  .row-xl-gutter-lg {
    margin: -12px;
  }

  .row-xl-gutter-lg>.col {
    padding: 12px;
  }

  .row-xl-gutter-xl {
    margin: -16px;
  }

  .row-xl-gutter-xl>.col {
    padding: 16px;
  }

  .row-xl-gutter-none {
    margin: -0px;
  }

  .row-xl-gutter-none>.col {
    padding: 0px;
  }

  .row-xl-justify-around {
    justify-content: space-around;
  }

  .row-xl-justify-between {
    justify-content: space-between;
  }

  .row-xl-justify-center {
    justify-content: center;
  }

  .row-xl-justify-end {
    justify-content: flex-end;
  }

  .row-xl-justify-evenly {
    justify-content: space-evenly;
  }

  .row-xl-justify-start {
    justify-content: flex-start;
  }

  .row-xl-wrap-nowrap {
    flex-wrap: nowrap;
  }

  .row-xl-wrap-wrap {
    flex-wrap: wrap;
  }

  .row-xl-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .col-xl-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xl-2 {
    flex-basis: 16.66666666%;
    max-width: 16.66666666%;
  }

  .col-xl-offset-2 {
    margin-left: 16.66666666%;
  }

  .col-xl-3 {
    flex-basis: 24.99999999%;
    max-width: 24.99999999%;
  }

  .col-xl-offset-3 {
    margin-left: 24.99999999%;
  }

  .col-xl-4 {
    flex-basis: 33.33333332%;
    max-width: 33.33333332%;
  }

  .col-xl-offset-4 {
    margin-left: 33.33333332%;
  }

  .col-xl-5 {
    flex-basis: 41.66666665%;
    max-width: 41.66666665%;
  }

  .col-xl-offset-5 {
    margin-left: 41.66666665%;
  }

  .col-xl-6 {
    flex-basis: 49.99999998%;
    max-width: 49.99999998%;
  }

  .col-xl-offset-6 {
    margin-left: 49.99999998%;
  }

  .col-xl-7 {
    flex-basis: 58.33333331%;
    max-width: 58.33333331%;
  }

  .col-xl-offset-7 {
    margin-left: 58.33333331%;
  }

  .col-xl-8 {
    flex-basis: 66.66666664%;
    max-width: 66.66666664%;
  }

  .col-xl-offset-8 {
    margin-left: 66.66666664%;
  }

  .col-xl-9 {
    flex-basis: 74.99999997%;
    max-width: 74.99999997%;
  }

  .col-xl-offset-9 {
    margin-left: 74.99999997%;
  }

  .col-xl-10 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }

  .col-xl-offset-10 {
    margin-left: 83.3333333%;
  }

  .col-xl-11 {
    flex-basis: 91.66666663%;
    max-width: 91.66666663%;
  }

  .col-xl-offset-11 {
    margin-left: 91.66666663%;
  }

  .col-xl-12 {
    flex-basis: 99.99999996%;
    max-width: 99.99999996%;
  }

  .col-xl-offset-12 {
    margin-left: 99.99999996%;
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }

  .col-xl-align-start {
    align-self: flex-start;
  }

  .col-xl-align-center {
    align-self: center;
  }

  .col-xl-align-end {
    align-self: flex-end;
  }

  .col-xl-order-first {
    order: -1;
  }

  .col-xl-order-last {
    order: 1;
  }
}

@media screen and (max-width: 1200px) {
  .row-lg-align-baseline {
    align-items: baseline;
  }

  .row-lg-align-center {
    align-items: center;
  }

  .row-lg-align-end {
    align-items: flex-end;
  }

  .row-lg-align-start {
    align-items: flex-start;
  }

  .row-lg-align-stretch {
    align-items: stretch;
  }

  .row-lg-content-around {
    align-content: space-around;
  }

  .row-lg-content-between {
    align-content: space-between;
  }

  .row-lg-content-center {
    align-content: center;
  }

  .row-lg-content-end {
    align-content: flex-end;
  }

  .row-lg-content-evenly {
    align-content: space-evenly;
  }

  .row-lg-content-start {
    align-content: flex-start;
  }

  .row-lg-direction-row {
    flex-direction: row;
  }

  .row-lg-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .row-lg-direction-column {
    flex-direction: column;
  }

  .row-lg-direction-column-reverse {
    flex-direction: column-reverse;
  }

  .row-lg-gutter-xs {
    margin: -2px;
  }

  .row-lg-gutter-xs>.col {
    padding: 2px;
  }

  .row-lg-gutter-sm {
    margin: -4px;
  }

  .row-lg-gutter-sm>.col {
    padding: 4px;
  }

  .row-lg-gutter-md {
    margin: -8px;
  }

  .row-lg-gutter-md>.col {
    padding: 8px;
  }

  .row-lg-gutter-lg {
    margin: -12px;
  }

  .row-lg-gutter-lg>.col {
    padding: 12px;
  }

  .row-lg-gutter-xl {
    margin: -16px;
  }

  .row-lg-gutter-xl>.col {
    padding: 16px;
  }

  .row-lg-gutter-none {
    margin: -0px;
  }

  .row-lg-gutter-none>.col {
    padding: 0px;
  }

  .row-lg-justify-around {
    justify-content: space-around;
  }

  .row-lg-justify-between {
    justify-content: space-between;
  }

  .row-lg-justify-center {
    justify-content: center;
  }

  .row-lg-justify-end {
    justify-content: flex-end;
  }

  .row-lg-justify-evenly {
    justify-content: space-evenly;
  }

  .row-lg-justify-start {
    justify-content: flex-start;
  }

  .row-lg-wrap-nowrap {
    flex-wrap: nowrap;
  }

  .row-lg-wrap-wrap {
    flex-wrap: wrap;
  }

  .row-lg-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .col-lg-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-lg-2 {
    flex-basis: 16.66666666%;
    max-width: 16.66666666%;
  }

  .col-lg-offset-2 {
    margin-left: 16.66666666%;
  }

  .col-lg-3 {
    flex-basis: 24.99999999%;
    max-width: 24.99999999%;
  }

  .col-lg-offset-3 {
    margin-left: 24.99999999%;
  }

  .col-lg-4 {
    flex-basis: 33.33333332%;
    max-width: 33.33333332%;
  }

  .col-lg-offset-4 {
    margin-left: 33.33333332%;
  }

  .col-lg-5 {
    flex-basis: 41.66666665%;
    max-width: 41.66666665%;
  }

  .col-lg-offset-5 {
    margin-left: 41.66666665%;
  }

  .col-lg-6 {
    flex-basis: 49.99999998%;
    max-width: 49.99999998%;
  }

  .col-lg-offset-6 {
    margin-left: 49.99999998%;
  }

  .col-lg-7 {
    flex-basis: 58.33333331%;
    max-width: 58.33333331%;
  }

  .col-lg-offset-7 {
    margin-left: 58.33333331%;
  }

  .col-lg-8 {
    flex-basis: 66.66666664%;
    max-width: 66.66666664%;
  }

  .col-lg-offset-8 {
    margin-left: 66.66666664%;
  }

  .col-lg-9 {
    flex-basis: 74.99999997%;
    max-width: 74.99999997%;
  }

  .col-lg-offset-9 {
    margin-left: 74.99999997%;
  }

  .col-lg-10 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333%;
  }

  .col-lg-11 {
    flex-basis: 91.66666663%;
    max-width: 91.66666663%;
  }

  .col-lg-offset-11 {
    margin-left: 91.66666663%;
  }

  .col-lg-12 {
    flex-basis: 99.99999996%;
    max-width: 99.99999996%;
  }

  .col-lg-offset-12 {
    margin-left: 99.99999996%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-align-start {
    align-self: flex-start;
  }

  .col-lg-align-center {
    align-self: center;
  }

  .col-lg-align-end {
    align-self: flex-end;
  }

  .col-lg-order-first {
    order: -1;
  }

  .col-lg-order-last {
    order: 1;
  }
}

@media screen and (max-width: 1024px) {
  .row-md-align-baseline {
    align-items: baseline;
  }

  .row-md-align-center {
    align-items: center;
  }

  .row-md-align-end {
    align-items: flex-end;
  }

  .row-md-align-start {
    align-items: flex-start;
  }

  .row-md-align-stretch {
    align-items: stretch;
  }

  .row-md-content-around {
    align-content: space-around;
  }

  .row-md-content-between {
    align-content: space-between;
  }

  .row-md-content-center {
    align-content: center;
  }

  .row-md-content-end {
    align-content: flex-end;
  }

  .row-md-content-evenly {
    align-content: space-evenly;
  }

  .row-md-content-start {
    align-content: flex-start;
  }

  .row-md-direction-row {
    flex-direction: row;
  }

  .row-md-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .row-md-direction-column {
    flex-direction: column;
  }

  .row-md-direction-column-reverse {
    flex-direction: column-reverse;
  }

  .row-md-gutter-xs {
    margin: -2px;
  }

  .row-md-gutter-xs>.col {
    padding: 2px;
  }

  .row-md-gutter-sm {
    margin: -4px;
  }

  .row-md-gutter-sm>.col {
    padding: 4px;
  }

  .row-md-gutter-md {
    margin: -8px;
  }

  .row-md-gutter-md>.col {
    padding: 8px;
  }

  .row-md-gutter-lg {
    margin: -12px;
  }

  .row-md-gutter-lg>.col {
    padding: 12px;
  }

  .row-md-gutter-xl {
    margin: -16px;
  }

  .row-md-gutter-xl>.col {
    padding: 16px;
  }

  .row-md-gutter-none {
    margin: -0px;
  }

  .row-md-gutter-none>.col {
    padding: 0px;
  }

  .row-md-justify-around {
    justify-content: space-around;
  }

  .row-md-justify-between {
    justify-content: space-between;
  }

  .row-md-justify-center {
    justify-content: center;
  }

  .row-md-justify-end {
    justify-content: flex-end;
  }

  .row-md-justify-evenly {
    justify-content: space-evenly;
  }

  .row-md-justify-start {
    justify-content: flex-start;
  }

  .row-md-wrap-nowrap {
    flex-wrap: nowrap;
  }

  .row-md-wrap-wrap {
    flex-wrap: wrap;
  }

  .row-md-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .col-md-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-2 {
    flex-basis: 16.66666666%;
    max-width: 16.66666666%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666666%;
  }

  .col-md-3 {
    flex-basis: 24.99999999%;
    max-width: 24.99999999%;
  }

  .col-md-offset-3 {
    margin-left: 24.99999999%;
  }

  .col-md-4 {
    flex-basis: 33.33333332%;
    max-width: 33.33333332%;
  }

  .col-md-offset-4 {
    margin-left: 33.33333332%;
  }

  .col-md-5 {
    flex-basis: 41.66666665%;
    max-width: 41.66666665%;
  }

  .col-md-offset-5 {
    margin-left: 41.66666665%;
  }

  .col-md-6 {
    flex-basis: 49.99999998%;
    max-width: 49.99999998%;
  }

  .col-md-offset-6 {
    margin-left: 49.99999998%;
  }

  .col-md-7 {
    flex-basis: 58.33333331%;
    max-width: 58.33333331%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333331%;
  }

  .col-md-8 {
    flex-basis: 66.66666664%;
    max-width: 66.66666664%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666664%;
  }

  .col-md-9 {
    flex-basis: 74.99999997%;
    max-width: 74.99999997%;
  }

  .col-md-offset-9 {
    margin-left: 74.99999997%;
  }

  .col-md-10 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333%;
  }

  .col-md-11 {
    flex-basis: 91.66666663%;
    max-width: 91.66666663%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666663%;
  }

  .col-md-12 {
    flex-basis: 99.99999996%;
    max-width: 99.99999996%;
  }

  .col-md-offset-12 {
    margin-left: 99.99999996%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-align-start {
    align-self: flex-start;
  }

  .col-md-align-center {
    align-self: center;
  }

  .col-md-align-end {
    align-self: flex-end;
  }

  .col-md-order-first {
    order: -1;
  }

  .col-md-order-last {
    order: 1;
  }
}

@media screen and (max-width: 768px) {
  .row-sm-align-baseline {
    align-items: baseline;
  }

  .row-sm-align-center {
    align-items: center;
  }

  .row-sm-align-end {
    align-items: flex-end;
  }

  .row-sm-align-start {
    align-items: flex-start;
  }

  .row-sm-align-stretch {
    align-items: stretch;
  }

  .row-sm-content-around {
    align-content: space-around;
  }

  .row-sm-content-between {
    align-content: space-between;
  }

  .row-sm-content-center {
    align-content: center;
  }

  .row-sm-content-end {
    align-content: flex-end;
  }

  .row-sm-content-evenly {
    align-content: space-evenly;
  }

  .row-sm-content-start {
    align-content: flex-start;
  }

  .row-sm-direction-row {
    flex-direction: row;
  }

  .row-sm-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .row-sm-direction-column {
    flex-direction: column;
  }

  .row-sm-direction-column-reverse {
    flex-direction: column-reverse;
  }

  .row-sm-gutter-xs {
    margin: -2px;
  }

  .row-sm-gutter-xs>.col {
    padding: 2px;
  }

  .row-sm-gutter-sm {
    margin: -4px;
  }

  .row-sm-gutter-sm>.col {
    padding: 4px;
  }

  .row-sm-gutter-md {
    margin: -8px;
  }

  .row-sm-gutter-md>.col {
    padding: 8px;
  }

  .row-sm-gutter-lg {
    margin: -12px;
  }

  .row-sm-gutter-lg>.col {
    padding: 12px;
  }

  .row-sm-gutter-xl {
    margin: -16px;
  }

  .row-sm-gutter-xl>.col {
    padding: 16px;
  }

  .row-sm-gutter-none {
    margin: -0px;
  }

  .row-sm-gutter-none>.col {
    padding: 0px;
  }

  .row-sm-justify-around {
    justify-content: space-around;
  }

  .row-sm-justify-between {
    justify-content: space-between;
  }

  .row-sm-justify-center {
    justify-content: center;
  }

  .row-sm-justify-end {
    justify-content: flex-end;
  }

  .row-sm-justify-evenly {
    justify-content: space-evenly;
  }

  .row-sm-justify-start {
    justify-content: flex-start;
  }

  .row-sm-wrap-nowrap {
    flex-wrap: nowrap;
  }

  .row-sm-wrap-wrap {
    flex-wrap: wrap;
  }

  .row-sm-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .col-sm-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-sm-2 {
    flex-basis: 16.66666666%;
    max-width: 16.66666666%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666666%;
  }

  .col-sm-3 {
    flex-basis: 24.99999999%;
    max-width: 24.99999999%;
  }

  .col-sm-offset-3 {
    margin-left: 24.99999999%;
  }

  .col-sm-4 {
    flex-basis: 33.33333332%;
    max-width: 33.33333332%;
  }

  .col-sm-offset-4 {
    margin-left: 33.33333332%;
  }

  .col-sm-5 {
    flex-basis: 41.66666665%;
    max-width: 41.66666665%;
  }

  .col-sm-offset-5 {
    margin-left: 41.66666665%;
  }

  .col-sm-6 {
    flex-basis: 49.99999998%;
    max-width: 49.99999998%;
  }

  .col-sm-offset-6 {
    margin-left: 49.99999998%;
  }

  .col-sm-7 {
    flex-basis: 58.33333331%;
    max-width: 58.33333331%;
  }

  .col-sm-offset-7 {
    margin-left: 58.33333331%;
  }

  .col-sm-8 {
    flex-basis: 66.66666664%;
    max-width: 66.66666664%;
  }

  .col-sm-offset-8 {
    margin-left: 66.66666664%;
  }

  .col-sm-9 {
    flex-basis: 74.99999997%;
    max-width: 74.99999997%;
  }

  .col-sm-offset-9 {
    margin-left: 74.99999997%;
  }

  .col-sm-10 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333%;
  }

  .col-sm-11 {
    flex-basis: 91.66666663%;
    max-width: 91.66666663%;
  }

  .col-sm-offset-11 {
    margin-left: 91.66666663%;
  }

  .col-sm-12 {
    flex-basis: 99.99999996%;
    max-width: 99.99999996%;
  }

  .col-sm-offset-12 {
    margin-left: 99.99999996%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-align-start {
    align-self: flex-start;
  }

  .col-sm-align-center {
    align-self: center;
  }

  .col-sm-align-end {
    align-self: flex-end;
  }

  .col-sm-order-first {
    order: -1;
  }

  .col-sm-order-last {
    order: 1;
  }
}

@media screen and (max-width: 480px) {
  .row-xs-align-baseline {
    align-items: baseline;
  }

  .row-xs-align-center {
    align-items: center;
  }

  .row-xs-align-end {
    align-items: flex-end;
  }

  .row-xs-align-start {
    align-items: flex-start;
  }

  .row-xs-align-stretch {
    align-items: stretch;
  }

  .row-xs-content-around {
    align-content: space-around;
  }

  .row-xs-content-between {
    align-content: space-between;
  }

  .row-xs-content-center {
    align-content: center;
  }

  .row-xs-content-end {
    align-content: flex-end;
  }

  .row-xs-content-evenly {
    align-content: space-evenly;
  }

  .row-xs-content-start {
    align-content: flex-start;
  }

  .row-xs-direction-row {
    flex-direction: row;
  }

  .row-xs-direction-row-reverse {
    flex-direction: row-reverse;
  }

  .row-xs-direction-column {
    flex-direction: column;
  }

  .row-xs-direction-column-reverse {
    flex-direction: column-reverse;
  }

  .row-xs-gutter-xs {
    margin: -2px;
  }

  .row-xs-gutter-xs>.col {
    padding: 2px;
  }

  .row-xs-gutter-sm {
    margin: -4px;
  }

  .row-xs-gutter-sm>.col {
    padding: 4px;
  }

  .row-xs-gutter-md {
    margin: -8px;
  }

  .row-xs-gutter-md>.col {
    padding: 8px;
  }

  .row-xs-gutter-lg {
    margin: -12px;
  }

  .row-xs-gutter-lg>.col {
    padding: 12px;
  }

  .row-xs-gutter-xl {
    margin: -16px;
  }

  .row-xs-gutter-xl>.col {
    padding: 16px;
  }

  .row-xs-gutter-none {
    margin: -0px;
  }

  .row-xs-gutter-none>.col {
    padding: 0px;
  }

  .row-xs-justify-around {
    justify-content: space-around;
  }

  .row-xs-justify-between {
    justify-content: space-between;
  }

  .row-xs-justify-center {
    justify-content: center;
  }

  .row-xs-justify-end {
    justify-content: flex-end;
  }

  .row-xs-justify-evenly {
    justify-content: space-evenly;
  }

  .row-xs-justify-start {
    justify-content: flex-start;
  }

  .row-xs-wrap-nowrap {
    flex-wrap: nowrap;
  }

  .row-xs-wrap-wrap {
    flex-wrap: wrap;
  }

  .row-xs-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  .col-xs-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%;
  }

  .col-xs-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-xs-2 {
    flex-basis: 16.66666666%;
    max-width: 16.66666666%;
  }

  .col-xs-offset-2 {
    margin-left: 16.66666666%;
  }

  .col-xs-3 {
    flex-basis: 24.99999999%;
    max-width: 24.99999999%;
  }

  .col-xs-offset-3 {
    margin-left: 24.99999999%;
  }

  .col-xs-4 {
    flex-basis: 33.33333332%;
    max-width: 33.33333332%;
  }

  .col-xs-offset-4 {
    margin-left: 33.33333332%;
  }

  .col-xs-5 {
    flex-basis: 41.66666665%;
    max-width: 41.66666665%;
  }

  .col-xs-offset-5 {
    margin-left: 41.66666665%;
  }

  .col-xs-6 {
    flex-basis: 49.99999998%;
    max-width: 49.99999998%;
  }

  .col-xs-offset-6 {
    margin-left: 49.99999998%;
  }

  .col-xs-7 {
    flex-basis: 58.33333331%;
    max-width: 58.33333331%;
  }

  .col-xs-offset-7 {
    margin-left: 58.33333331%;
  }

  .col-xs-8 {
    flex-basis: 66.66666664%;
    max-width: 66.66666664%;
  }

  .col-xs-offset-8 {
    margin-left: 66.66666664%;
  }

  .col-xs-9 {
    flex-basis: 74.99999997%;
    max-width: 74.99999997%;
  }

  .col-xs-offset-9 {
    margin-left: 74.99999997%;
  }

  .col-xs-10 {
    flex-basis: 83.3333333%;
    max-width: 83.3333333%;
  }

  .col-xs-offset-10 {
    margin-left: 83.3333333%;
  }

  .col-xs-11 {
    flex-basis: 91.66666663%;
    max-width: 91.66666663%;
  }

  .col-xs-offset-11 {
    margin-left: 91.66666663%;
  }

  .col-xs-12 {
    flex-basis: 99.99999996%;
    max-width: 99.99999996%;
  }

  .col-xs-offset-12 {
    margin-left: 99.99999996%;
  }

  .col-xs-offset-0 {
    margin-left: 0;
  }

  .col-xs-align-start {
    align-self: flex-start;
  }

  .col-xs-align-center {
    align-self: center;
  }

  .col-xs-align-end {
    align-self: flex-end;
  }

  .col-xs-order-first {
    order: -1;
  }

  .col-xs-order-last {
    order: 1;
  }
}
